<h1 class="m-2"><%= @list.name  %></h1>

<% @bookmarks.each do |bookmark| %>
  <div class="card m-2 p-3">
   <p><%= bookmark.comment %></p>
    <p>
        <%= link_to "X",
        bookmark_path(bookmark),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
    </p>
  </div>
<% end %>


<button class="m-2"><%= link_to 'Add bookmark', new_list_bookmark_path(@list) %></button>
<button class="m-2"><%= link_to 'Back', lists_path %></button>
